MCP_BEARER_TOKEN=change-me
MCP_DB_PATH=./data/genseco_vOriginal.sqlite
MCP_HOST=127.0.0.1
MCP_PORT=8000
MCP_LOG_LEVEL=INFO
MCP_REMOTE_SEARCH_BASE_URL=http://ec2-3-210-5-42.compute-1.amazonaws.com
MCP_RATE_LIMIT_PER_MINUTE=60
MCP_QUERY_TIMEOUT_SECONDS=20
MCP_MAX_SEARCH_RESULTS=25
MCP_MAX_GENE_RESULTS=200
